@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  background-color: #0a0a0a;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-prime text-white antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.glass-panel {
  @apply bg-surface/50 backdrop-blur-md border border-white/10 shadow-xl rounded-xl;
}